.nuestro-equipo{
	text-align: center;
	margin-bottom: 10px;
}
.nuestro-equipo .contenedor-flexible{
	align-items: flex-start;
}
.nuestro-equipo__titulo{
	font-family: serif;
	color: inherit;
	font-weight: bold;
	font-size: 1.8em;
	margin-bottom: 10px;
}
.nuestro-equipo__img{
	width: 200px;
	height: 200px;
	margin: auto;
	margin-bottom: 20px;

}
.nuestro-equipo__txt{
	padding: 10px;
}
/*imagenes cambiando de acuerdo al tamaño de la pantalla*/
@media screen and (min-width:480px){
	.nuestro-equipo__img{
		width: 150px;
		height: 150px;
	}
}
@media screen and( min-width:768px){
	.nuestro-equipo__img{
		width: 220px;
		height: 220px;
	}
}
@media screen and (min-width:1024px){
	.nuestro-equipo__img{
		width: 310px;
		height: 310px;
	}
}
@media screen and (min-width:1600px){
	.nuestro-equipo__img{
		width: 420px;
		height: 420px;
	}
}
