.galeria__img{
	object-fit: cover;
	margin-bottom: 20px;
	cursor: pointer;
	cursor: pointer;
	transition: all .5s;
}
.galeria__img:hover {
	transform: scale(1.02);
}
.galeria__img--grande{
	height: 400px;
}
.galeria__img--chica{
	height: 200px;
}
/*Imagen seleccionada se pone grande*/

.modal{
	width: 100%;
	min-height: 100vh;
	background: rgba(119, 136, 153);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	display: none; /*OCULTAR IMAGEN*/
}
.modal__contenido{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #000000;
}
.modal_img{
	width: 75%;
}
.modal_boton{
	position: absolute;
	top: 15px;
	right: 10px;
	cursor: pointer;
	color: white;
	font-weight: bold;
	width: 50px;
	height: 50px;
	background: #000000;
	font-size: 2.5em;
	text-align: center;
	border-radius: 50%;
	font-family: serif; 
}

.modal--open{
	display: block;
}


