@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather|Open+Sans|ZCOOL+KuaiLe');

*{
	box-sizing: border-box;
}
body{
	font-family: 'Merriweather' , sans-serif;
	margin:0;
}
img{
	display: block;
	width: 100%;
	max-width: 100%;
}
h1,h2,h3,h4,{
	margin: 0;
}
.contenedor{
	width: 100%;
	margin:auto;
}

.contenedor-flexible{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.column{
	width: 100%;
}

.main-header{
	width: 100%;
}


.logo{
	font-size: 1.8em;
	color: #DE423A;
	padding: 10px;
	font-family: 'coiny', cursive;
	font-weight: 100%;
}

.main-header__contactInfo_telefono{
	background:#DE423A;
	color: white;
	margin:auto;
	padding: 10px;
}

.main-header__contactInfo_direccion{
	padding: 10px;
	mergin: 0;
}

.main-header[class*="icon-"]::before{
	position: relative;
	top: 2px;
	right: 5px;
} 

/*Menu*/

.main-nav{
	width: 100%;
	position: relative;
	z-index: 2000;
	padding: 10px;
}

.icon-menu{
	display: block;
	color: white;
	border:1px solid white;
	border-radius: 10px;
	width: 40px;
	height: 40px;
	line-height: 45px;
	text-align: center;
	cursor: pointer;
	font-size:1.5em;

}

.sociales-icon{
	display: flex;
	justify-content: space-between;
}
/aplica a todos los iconos de la clase sociales icon/

.sociales-icon [class*="icon-"]{
	color: black;
	margin-left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
  font-size: 1.3em;
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50%;
}

.sociales-icon__link{
	text-decoration: none;
	background: white;
	border-radius: 50%;
	font-size: 1.3em;
    width: 35px;
    height: 35px;
	align-items: center;
	display: flex;
	justify-content: center;
}

.menu{
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,0.9);
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	height: 0;
	overflow: hidden;
	transition: height .5s linear;

}
.menu__link{
	display: block;
	text-decoration: none;
	padding: 15px;
	color: white;
}
.menu__link:hover{
  background: rgba(128, 0, 0);
}

.menu__link-select{
	background: #de423A;
}
.mostrar{
	height: 196px;
}

.banner{
	margin-top: -57px;
	position: relative;
}

.banner::before{
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0, 0.6);
	top: 0;
}

.banner_img{
	width: 100%;
	height: 500px;
	object-fit: cover;
}

.banner_contenido{
	width: 90%;
	color: white;
	text-align: center;
	position: absolute;
	z-index: 1500;
	top: 50%;
	left: 50%;
	transform:translateX(-50%) translateY(-50%);
	font-size: 1.2em;
	font-weight: bold;
}
.grupo--color .contenedor{
	background: #A52A2A;
	color: white;
	padding: 10px;
	text-align: center;
}

.main_titulo{
	margin:15px;
	font-size: 1.8em;
	font-family: 'Coiny', cursive;
	font-weight: bold;
}

.column_title{
	font-size: 1.9em;
}

.main_descripcion .column:nth-child(2){
	text-align: center;
}

.btn{
	display: block;
	text-decoration: none;
  background:#de423A ;
  padding: 10px;
  width: 150px;
  margin: 15px , auto;
}

.group__title{
	font-family:'Coiny', cursive;
	text-align:center;
	font-weight: 100;
	margin: 30px;
	font-size: 1.8em;
}

.recomendaciones .column{
	margin-bottom: 30px;
	text-align: center;
}

.recomendaciones__img{
	max-width: 350px;
	margin: auto;
}

.recomendaciones__titulo{
	font-size:1.3em;
	padding-top: 10px;
	padding-bottom: 15px;
}

.recomendaciones__precio{
	font-size: 1.3em;
	color: #de423A ;
	font-weight: 
}

.main-footer{
	background: #222;
	color:white;
	padding:10px;
	padding: 10px;
	padding-top: 10px;
	font-size: .7em;
	text-align: justify;
}

.copy{
	text-align: center;
	margin: auto;
	margin-top: 25px;
}

.main-footer [class*='icon-']
{
	color: white;
	text-decoration: none;
}
.main-footer[class*='icon']::before{
	position: relative;
	top: 2px;
	right: 3px;
}

 @media screen and (min-width: 480px){

.logo{
	color: white;
 }

.main-header_contactInfo{
	text-align:right;
}

.banner{
	margin-top: -205px;
	z-index: -10;
}

.main-header__contactInfo_telefono{
	background: none;
}

.main-header__contactInfo_direccion{
	color: white;
	text-decoration: white;
}

.banner_contenido{
	font-size: 2em;
}

.column--50{
	width: 49%;
}

.main-nav{
	background: rgba(0, 0, 0, 0.55);
}
.column--50-25{
	width: 49%;
}

.main_descripcion .column:nth-child(2){
	padding-left: 20px;
	text-align:justify;
	font-size: 1em;
}
.main_descripcion .btn{
	margin:0;
}

.column--33{
	width: 30%;
}

.recomendaciones .column{
	border: 5px solid #778899;
	padding: 5px;
}

.recomendaciones__img{
	height: 200px;
	object-fit: cover;
}

.main{
	padding-bottom: 15px;
}
.main-footer .contenedor-flexible{
	align-items: flex-start;

}
}

@media screen and (min-width: 768px){
.main_titulo{
    font-size: 2.2em;
}
.main_texto{
	font-size: 1.1em;
}
.main_descripcion{
    margin-top: 30px;
}
.main_descripcion .column--50:nth-child(2){
	font-size: 1.1em;
}
.main_descripcion .column--50:nth-child(2) .column_txt{
	line-height: 30px;
}
.column_title{
	font-size: 1em;
}
.group__title{
	font-size: 2.2em;
}
}

@media screen and (min-width: 820px){

.column--50-25{
	width: 24.5%;
}
}

@media screen and (min-width: 1024px){

.logo{
	font-size: 2em;
	padding: 1px;
}
.banner{
	margin-top: -175px;
}
.main-header_contactInfo_telefono, .main-header_contactInfo_direccion{
	font-size: 1.15em;
}

.banner_contenido{
	font-size: 2.5em;
}

.main-nav{
	padding: 0;
}

.icon-menu{
	display: none;
}
.menu{
	display: flex;
	height: auto;
	position: static;
	width: auto;
	background: rgba(0, 0, 0, 0);
} 

.menu__link{
	padding: 20px;
}

.contenedor{
}

.grupo--color .contenedor{
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
}

.main_descripcion .column{
	padding-right: 30px;
}

.main_titulo{
	font-size: 2.3em;
}

.main_descripcion .column--50:nth-child(2) .column_txt{
	line-height: 1.8em;
}
.main-footer{
	padding-top: 35px;
	padding-bottom: 30px;
}

.banner_img{
	height: 800px;
}

.column--33{
	padding:5px;
	/*margin-right: 10px;*/
	margin-left: 10px;
	text-align: center;	
}

.column_txt2{
	text-align: justify;
}

.main-footer .contenedor{
	margin-right: 10px;
	margin-left: 10px;
	align-items: center;
}

}